/* remove browser default css */

*{
	margin: 0px;
	padding: 0px;
}

/* suppossed to put the body in a contaner that is the size of
the current screen size. i still seem to be missing something though.
probably should use percentages for the contents and not pixels*/

body {
	height: 100%;
	width: 100%;
	font-family: lato,"times new roman";
	background-image: url("http://greywolf-graphics.com/images/nier-automata-wallpaper/nier-automata-wallpaper-36.jpg");
	background-position: center top;
}

/* Style the image to a smaller size */

img {
	height: 92px;
	width: 272px;
	margin-left: 500px;
	margin-top: 100px;

}

/* General Styling for all un-ordered links on the page.
they're going to be holding links */

ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #060606;
	color:#ffffff;
}


/* float all lists right. 
this currently only affects the navigation list */
li {
	float: right;
}

/* Styling for lists that are links */

li a{
	display: block;
	color: #ffffff;
	text-align: right;
	padding: 14px 16px;
	text-decoration: none;
}
li, a, .foot{
	color: black;
}

li a:hover {
	text-decoration: underline;
}

/* Styling for the navigation bar container  */
.nav_bar {
	margin-top: 15px;
	width: 90%;
	height:10%;
	float: right;
	margin-right: 77px;
	
}

.form1{
	/*border: 3px solid black;	*/

}

/* This is for making the sign in button look unique
compared to its neighbours*/

.s_button{
	background: #4285f4;
	border-radius: 5px;
	font-weight: bold
	border: 1px solid #4285f4
	border-bottom-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    padding-left: 10px;
    padding-bottom: 9px;
    padding-top: 9px;
    margin-top: 6px;
	color: #fff;
	border-radius: 5px;
}

input[type=text]{
	border: 2px solid #d4c9c9;
	border-radius: 2px;
	margin-left: 248px;
	margin-right: 248px;
	padding: 10px 0;
	width:60%;
	background-color: #fff;
	color: black;
}


/* Styling for the search box */
input[type=submit]{
	margin-top:10px;
	padding: 16px 3px;
	margin-left: 350px;
	text-decoration: none;
	width: 20%;
	background-color:#f7f7df
	border-radius: 2px;
	font-size:inherit;
	color:#544545;
	border-radius: 6px;
	border:aqua;
}

input[type=submit]:hover{
	color:black;
	border-radius: 1px;
}


/* position the footer at the end of the page */
.footer{
	height: 50px;
	background: #eee;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}


.foot_l{
	float: left;
	background: #eee;
}

.foot_r{
	float: right;
	background: #eee;
}

/* ul, .nav_bar {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
}

li, .nav_bar {
	float: right;
}

li a, .nav_bar{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav_bar, li a:hover {
	background-color: #555;
	color: white;
}
*/